*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio, IntelliJ
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.compiler.xml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Build folders
build/
app/build/
kspCaches/
outputs/
tmp/

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Supabase
.supabase/
