*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio, IntelliJ
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.compiler.xml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Build folders
build/
app/build/
kspCaches/
outputs/
tmp/

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Supabase
.supabase/
/supabase/.temp/cli-latest
/supabase/.temp/gotrue-version
/supabase/.temp/linked-project.json
/supabase/.temp/pooler-url
/supabase/.temp/postgres-version
/supabase/.temp/project-ref
/supabase/.temp/rest-version
/supabase/.temp/storage-migration
/supabase/.temp/storage-version

.agent/
.kotlin/
input_images/
docs/